.menu-options {
  position: absolute;
  z-index: 10;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #a8d8ea;
  margin: 0;
  padding: 0;
  display: inline-block;
  animation: 0.3s agrandar 1;
}

@keyframes agrandar {
  0% {
    opacity: 0%;
    left: 100%;
  }
}
.GameOver {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: #fcbad3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.GameOver p {
  padding: 10%;
  text-align: center;
}
.GameOver button {
  width: 100%;
  height: 100%;
  background: #aa96da;
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
  padding: 5%;
  color: #ffffd2;
  font-size: 0.5em;
  border-style: none;
  text-decoration: none;
}

.botonSuperior {
  display: flex;
  justify-content: flex-end;
}

.boton-menuP {
  background: none;
  border-style: none;
}

.boton-menuP:focus {
  outline-style: none;
}

.opc {
  padding-top: 50%;
  padding-left: 5%;
}

.abierto {
  height: 6%;
  width: 100%;
  color: #ffffd2;
  font-size: 2em;
  display: flex;
  align-items: flex-start;
}

.Criatura {
  position: relative;
  width: 100%;
  height: 100%;
  background: #a8d8ea;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: #ffffd2;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: stretch;
}
.Criatura header {
  width: 100%;
  height: 8%;
  background: #aa96da;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.Criatura header div {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.Criatura header div p {
  align-self: center;
  display: flex;
  flex-flow: column no-wrap;
}
.Criatura h1 {
  width: 100%;
  height: 8%;
  background: #aa96da;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2em;
}
.Criatura h1 input {
  width: 100%;
  height: 100%;
  background: none;
  margin: 0;
  padding: 0;
  color: #ffffd2;
  border-style: none;
  text-align: center;
  font-size: 1em;
}
.Criatura h1 input:focus {
  outline-style: none;
}
.Criatura fondo {
  width: 100%;
  height: 55%;
  background: none;
  margin: 0;
  padding: 0;
  background-image: url("./img/base0.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Criatura h2 {
  width: 100%;
  height: 7%;
  background: #a8d8ea;
  margin: 0;
  padding: 0;
  color: #aa96da;
  text-align: center;
  font-size: 2em;
  padding-top: 3%;
}
.Criatura footer {
  width: 100%;
  height: 20%;
  background: #aa96da;
  margin: 0;
  padding: 0;
}
.Criatura footer p {
  text-align: center;
  font-size: 2em;
  color: #fcbad3;
}
.Criatura footer div {
  width: 100%;
  height: 100%;
  background: none;
  margin: 0;
  padding: 0;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Criatura footer div .botonAccion {
  width: 100%;
  height: 100%;
  background: none;
  margin: 0;
  padding: 0;
  width: 22%;
  height: auto;
  border-style: none;
  padding: 2%;
}
.Criatura footer div .botonAccion:focus {
  outline-style: none;
}
.Criatura footer div .imaBoton {
  width: 100%;
  height: 100%;
  background: none;
  margin: 0;
  padding: 0;
}

.parpadeo {
  color: #f79bff;
  animation: 0.7s parpadear infinite;
}

@keyframes parpadear {
  70% {
    color: #aa96da;
  }
}
.subidon {
  color: #a0ff9b;
  animation: 0.7s subidon infinite;
}

@keyframes subidon {
  70% {
    font-size: 1.3em;
  }
}
.fijo {
  position: absolute;
  left: 100%;
  bottom: -40%;
}

/*# sourceMappingURL=Criatura.css.map */
