$color0: #ffffd2
$color1: #fcbad3
$color2: #aa96da
$color3: #a8d8ea
    
@mixin full($background, $tamH)
    width: 100%
    height: $tamH
    background: $background
    margin: 0
    padding: 0


.menu-options
    position: relative
    left: 60% 
    @include full($color3, 100%)
    width: 80%
    display: inline-block
    animation: 0.3s agrandar 1



@keyframes agrandar
    0%
        opacity: 0%
        left: 0%

.GameOver
    position: absolute
    @include full($color1, 100%)
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: center
    font-size: 2em
    p
        padding: 10%
        text-align: center
    button
        @include full($color2, 100%)
        width: 50%
        height: auto
        padding: 5%
        color: $color0
        font-size: .5em
        border-style: none
        text-decoration: none





.botonSuperior
    display: flex
    justify-content: flex-end 



.boton-menuP
    background: none
    border-style: none 
.boton-menuP:focus
     outline-style: none 

       
.opc 
    padding-top: 50%
    padding-left: 5%


.abierto
    height: 6%
    width: 100%
    color: $color0
    font-size: 2em
    display: flex
    align-items: flex-start

.Criatura
    position: relative
    @include full($color3, 100%)
    overflow: hidden
    color: $color0
    max-width: 100%
    display: flex
    flex-flow: column wrap
    align-content: center

    header
        @include full($color2, 8%)
        display: flex
        justify-content: space-between
        div
            display: flex
            justify-content: center
            font-size: 2em
            p
                align-self: center
                display: flex
                flex-flow: column no-wrap
            
    h1
        @include full($color2, 8%)
        text-align: center
        font-size: 2em
        input
            @include full(none, 100%)
            color: $color0
            border-style: none
            text-align: center
            font-size: 1em
        input:focus
            outline-style: none


    fondo
        @include full(none, 55%)
        background-image: url("./img/base0.jpg")
        background-repeat: no-repeat
        background-size: 100%
        display: block
        display: flex
        justify-content: center
        align-items: flex-end

    h2
        @include full($color3, 7%)
        color: $color2
        text-align: center
        font-size: 2em
        padding-top: 3%
        
    footer
        @include full($color2, 20%)
        p
            text-align: center
            font-size: 2em
            color: $color1
        div
            @include full(none, 100%)
            border-style: none
            display: flex
            align-items: center
            justify-content: center
        
                
            .botonAccion
                @include full(none, 100%)
                width: 22%
                height: auto
                border-style: none
                padding: 2%
            .botonAccion:focus
                outline-style: none
            .imaBoton
                @include full(none, 100%)
                


